@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  cursor: url("../images/cursor/normal.png"), auto;
}

body {
  background-color: #0A0A0A;
  color: white;
}
body .navbar {
  background-color: transparent;
  border-bottom: 2px solid white;
}
body .navbar .container-fluid .navbar-brand {
  color: white;
  font-weight: 900;
  color: #008080;
}
body .navbar .container-fluid .navbar-brand:hover {
  cursor: url("../images/cursor/hover.png"), auto;
}
body .navbar .container-fluid .collapse ul li a {
  color: white;
  font-weight: 900;
  transition: all 0.3s ease;
}
body .navbar .container-fluid .collapse ul li a:hover {
  opacity: 50%;
  cursor: url("../images/cursor/hover.png"), auto;
}
body .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28, 255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body .body .box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .body .box .row .colu .header {
  font-weight: 900;
  font-size: 64px;
  text-align: center;
}
body .body .box .row .colu .desc {
  font-size: 32px;
  text-align: center;
}
body .body .box .row .colu .notice {
  opacity: 25%;
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
}
body .body .box .row .colu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .body .box .row .colu-btn .green {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 900;
  color: white;
  background-color: #008080;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #008080;
  transition: all 0.3s ease;
}
body .body .box .row .colu-btn .green:hover {
  background-color: transparent;
  border: 2px solid #008080;
  cursor: url("../images/cursor/hover.png"), auto;
}
body .body .box .row .colu-btn .red {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 900;
  color: white;
  background-color: #FF6F61;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #FF6F61;
  transition: all 0.3s ease;
}
body .body .box .row .colu-btn .red:hover {
  background-color: transparent;
  border: 2px solid #FF6F61;
  cursor: url("../images/cursor/hover.png"), auto;
}
body .body .box .row .col-wp {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
body .body .box .row .col-wp .wp {
  font-size: 16px;
  font-weight: 900;
  color: white;
  background-color: #008080;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #008080;
  transition: all 0.3s ease;
}
body .body .box .row .col-wp .wp:hover {
  background-color: transparent;
  border: 2px solid #008080;
  cursor: url("../images/cursor/hover.png"), auto;
}
@media only screen and (max-width: 991px) {
  body .body .box .row .colu .header {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
  }
  body .body .box .row .colu .desc {
    font-size: 24px;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */